language: cpp
compiler:
    - gcc
install:
    - sudo apt-get update
    - sudo apt-get install libcppunit-dev
    - sudo apt-get install valgrind
    - mkdir bin
    - make
script: 
    - ./tests
    - valgrind --leak-check=yes ./tests

notifications:
    recipients:
        - forster.matth@gmail.com
        - werrejustin@gmail.com
    email:
        on_success: change
        on_failure: always
    webhooks:
        urls:
            - https://hall-hooks.herokuapp.com/travis-ci/buildnotification/00fe361de6de93df19230ad8ce7bb45e 
        on_success: change
        on_failure: always

